*{

  margin:0px;
  box-sizing: border-box;

  font-family: 'Oswald', sans-serif;
  color:#fff;
}

button{

  cursor:pointer;
  border:none;
}

input{

  border:none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{

  -webkit-appearance: none;
  margin:0;
}